@page "/geolocations"

<h3>@Title</h3>

<DemoBlock Title="@BaseUsageText" Introduction="@IntroText1" Name="Normal">
    <p>@IntroText2</p>
    <Geolocation OnResult="@OnResult" OnUpdateStatus="@OnUpdateStatus" />
    <Badge Color="Color.Warning">@status</Badge>
    <Table TItem="GeolocationItem" Items="Items" AutoGenerateColumns="true">
    </Table>
    <p>@IntroText3</p>
    <hr />
    <img class="barcode" src="@ImageUrl("Geolocation_s0.jpg")">
</DemoBlock>

<AttributeTable Items="@GetAttributes()" />
