@page "/geolocations"

    <h3>@Title</h3>

    <Block Title="@BaseUsageText" Introduction="@IntroText1">

        <p>@IntroText2</p>

        <Geolocation OnResult="@OnResult" OnUpdateStatus="@OnUpdateStatus" />

        <Badge Color="Color.Warning">@status</Badge>

        <Table TItem="Geolocationitem" Items="Items" AutoGenerateColumns="true">
        </Table>

        <p>@IntroText3</p>

        <hr />
        <img class="barcode" src="@ImageUrl("Geolocation_s0.jpg")">

    </Block>

    <AttributeTable Items="@GetAttributes()" />
